<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <title> فرم ثبت نام </title>
    <link rel="stylesheet" href="./style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">فرم ثبت نام</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">نام:</span>
            <input type="text" placeholder="نام خود را وارد کنید" required>
          </div>
          <div class="input-box">
            <span class="details">نام خانوادگی:</span>
            <input type="text" placeholder="نام خانوادگی خود را وارد کنید" required>
          </div>
          <div class="input-box">
            <span class="details">آدرس:</span>
            <input type="text" placeholder="آدرس خود را وارد کنید" required>
          </div>
          <div class="input-box">
            <span class="details">کد کاربری:</span>
            <input type="tel" placeholder="کد کاربری خود را وارد کنید" required>
          </div>
          <div class="input-box">
            <span class="details">شماره همراه:</span>
            <input type="tel" placeholder="شماره همراه خود را وارد کنید" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
          </div>
          <div class="input-box">
            <span class="details">شماره منزل:</span>
            <input type="tel" placeholder="شماره همراه خود را وارد کنید" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
          </div>
          <div class="input-box">
            <span class="details">شهر:</span>
            <input type="text" placeholder="شهر خود را وارد کنید" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">جنسیت</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">مرد</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">زن</span>
          </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="ثبت نام">
        </div>
      </form>
    </div>
  </div>

</body>
</html>